<c-row>
  <c-col xs="6">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Get</strong> <small></small>
      </c-card-header>
      <c-card-body>
        <!-- <p class="text-body-secondary small">
          Create an atom.
        </p> -->
          <c-input-group class="mb-3">
            <span cInputGroupText id="basic-addon1">Atom ID</span>
            <input aria-describedby="basic-addon1"
                   aria-label="id"
                   cFormControl
                   placeholder="Write Atom's ID here."
            />
          </c-input-group>

          <button cButton
            color="secondary"
            id="inputGroupFileAddon03"
            type="button"
            variant="outline"
          >
            Get Atom
          </button>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs="6">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Create</strong> <small></small>
      </c-card-header>
      <c-card-body>
        <!-- <p class="text-body-secondary small">
          Control atoms menu.
        </p> -->
          <c-input-group class="mb-3">
            <span cInputGroupText id="basic-addon1">Title</span>
            <input aria-describedby="basic-addon1"
                   aria-label="Title"
                   cFormControl
                   placeholder="Write Atom's title here."
                   value="{{ atom.title }}"
            />
          </c-input-group>
          <c-input-group class="mb-3">
            <span cInputGroupText id="basic-addon1">Description</span>
            <input aria-describedby="basic-addon1"
                   aria-label="Description"
                   cFormControl
                   placeholder="Write Atom's description here."
                   value="{{ atom.description }}"
            />
          </c-input-group>
          <c-input-group class="mb-3">
            <span cInputGroupText id="basic-addon1">Labels</span>
            <input aria-describedby="basic-addon1"
                   aria-label="Labels"
                   cFormControl
                   placeholder="Write Atom's labels here."
                   value="{{ atom.labels }}"
            />
          </c-input-group>
          <c-input-group class="mb-3">
            <span cInputGroupText id="basic-addon1">Content</span>
            <input aria-describedby="basic-addon1"
                   aria-label="Content"
                   cFormControl
                   placeholder="Write Atom's content here."
                   value="{{ atom.content }}"
            />
          </c-input-group>

          <button cButton
            color="secondary"
            id="inputGroupFileAddon03"
            type="button"
            variant="outline"
          >
            Create Atom
          </button>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
