<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Tables</strong> <small>Upload</small>
      </c-card-header>
      <c-card-body>
        <c-input-group class="mb-3" *ngIf="fileToUpload !== null">
          <button cButton
            color="secondary"
            id="inputGroupFileAddon03"
            type="button"
            variant="outline"
            (click)="uploadFile()">
            Upload
          </button>
        </c-input-group>
        <c-input-group class="mb-3" *ngIf="atomUuid !== ''">
          <span cInputGroupText id="basic-addon1">Atom UUID</span>
          <span cInputGroupText id="basic-addon1">{{ this.atomUuid }}</span>
        </c-input-group>
        <c-input-group class="mb-3">
          <input aria-describedby="inputGroupFileAddon03"
                 aria-label="Upload"
                 cFormControl
                 id="inputGroupFile03"
                 type="file"
                 (change)="onFileSelected($event)"/>
        </c-input-group>
        <c-input-group class="mb-3" *ngIf="fileToUpload !== null">
          <select aria-label="Default select example" cSelect (change)="setIndexColumn($event)">
            <option value=""><strong>Choose Index</strong></option>
            <option *ngFor="let column of table.headers.columns" [value]="column">{{ column }}</option>
          </select>
        </c-input-group>
        <table [hover]="false" cTable>
          <thead>
            <tr>
              <th *ngFor="let column of table.headers.columns">
                <form [formGroup]="tableFormCheck">
                  <c-button-group aria-label="Basic checkbox toggle button group" role="group">
                    <input class="btn-check" [formControlName]="column" type="checkbox"/>
                    <label (click)="setCheckBoxValue(column)" cButton cFormCheckLabel variant="outline">
                      {{ column }}
                    </label>
                  </c-button-group>
                </form>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of table.content">
              <td *ngFor="let column of row">{{ column.value }}</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
