<!DOCTYPE html>
<html ng-app="pyApp">
  <head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Crystord</title>
  </head>

  <body>
    <div ng-controller="CreateElement">
      Title: <input type="text" ng-model="element_title" placeholder="Enter title here"/><br/>
      Label: <input type="text" ng-model="element_labels" placeholder="Add a label here"/><br/>
      Content: <input type="text" ng-model="element_content" placeholder="Add your Element content here"/><br/>

      <div>
        <button ng-click="create_element()">Create Element</button><br/>
      </div>

      <br/><br/>
    </div>

    <div ng-controller="GetElement">
      Element ID: <input type="text" ng-model="element_id" placeholder="Enter element ID here"/><br/>

      <div>
        <button ng-click="get_element_content()">Get Element</button><br/>
      </div>

      <div>{{element_content}}</div>

      <script type="text/javascript" src="script.js"></script>
    </div>
  </body>
</html>
