<!DOCTYPE html>
<html ng-app="pyApp">
  <head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Crystord</title>
  </head>

  <body>
    <div ng-controller="pyController">
      <button ng-click="create_unitbase()">Create Unitbase</button><br />
      <input type="text" ng-model="unit_title" />
      <div>{{r}}</div>

      <script type="text/javascript" src="script.js"></script>
    </div>
  </body>
</html>
