<!DOCTYPE html>
<html ng-app="pyApp">
  <head>
    <base href="/">
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Crystord</title>
  </head>

  <body>
    <div ng-controller="CreateAtom">
      <h1>Crystord</h1>

      Title: <input type="text" ng-model="atom_title" placeholder="Enter title here"/><br/>
      Label: <input type="text" ng-model="atom_labels" placeholder="Add a label here"/><br/>
      Content: <input type="text" ng-model="atom_content" placeholder="Add your Atom content here"/><br/>

      <div>
        <button ng-click="create_atom()">Create Atom</button><br/>
      </div>

      ID: {{atom_id}}<br/>
      Share URL: {{atom_share_url}}<br/>
    </div>

    <br/><br/>

    <div ng-controller="GetAtom">
      Atom ID: <input type="text" ng-model="atom_id" placeholder="Enter atom ID here" style="width: 300px;"/><br/>

      <div>
        <button ng-click="get_atom()">Get Atom</button><br/>
      </div>

      Labels: {{atom_labels}}<br/>
      Content: {{atom_content}}<br/>
      Share URL: {{atom_share_url}}<br/>
    </div>

    <br/><br/>

    <div ng-controller="UpdateAtom">
      Atom ID:     <input type="text" ng-model="atom_id" placeholder="Enter atom ID here" style="width: 300px;"/><br/>
      Title:       <input type="text" ng-model="atom_title" placeholder="Enter title here"/><br/>
      Description: <input type="text" ng-model="atom_description" placeholder="Add a description here"/><br/>
      Content:     <input type="text" ng-model="atom_content" placeholder="Add your Atom content here"/><br/>
      Operation:   <input type="text" ng-model="atom_operation" placeholder="Add your Atom operation here"/><br/>

      <div>
        <button ng-click="update_atom_content()">Update Atom</button><br/>
      </div>
    </div>

    <br/><br/>

    <div ng-controller="AddLabelsToAtoms">
      Atom ID: <input type="text" ng-model="atomId" placeholder="Enter atom ID here" style="width: 300px;"/><br/>
      Label: <input type="text" ng-model="atomLabels" placeholder="Add your Atom label here"/><br/>

      <div>
        <button ng-click="AddLabelsToAtoms()">Add Label to Atom</button><br/>
      </div>
    </div>

    <br/><br/>

    <div ng-controller="RemoveLabelsFromAtoms">
      Atom ID: <input type="text" ng-model="atomId" placeholder="Enter atom ID here" style="width: 300px;"/><br/>
      Label: <input type="text" ng-model="atomLabels" placeholder="Add your Atom label here"/><br/>

      <div>
        <button ng-click="RemoveLabelsFromAtoms()">Remove Label from Atom</button><br/>
      </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br>
    <div>
      <h3>Don't worry, a good looking page will come later.</h2>
      <img src="images/good_looking_dog.jpg" alt="Good looking dog">
    </div>

    <div>
      <br><br><br><br><br>
      <h3>Support Crystord</h3>
      <h4>By donating you are help me to focus on improving Crystord further, which is exactly what I want! Thank you!</h4>
      <form action="https://www.paypal.com/donate" method="post" target="_blank">
          <input type="hidden" name="hosted_button_id" value="WJCFEZSJP36EG">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button">
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </body>
</html>
