# Local environment
.venv/
.vscode/
.idea/
.firebase/
.github/
.firebaserc

# Doxygen outputs
doxygen_output/
doc/.directory

# Local files
*.csv
*.ods
*.jpg
*.xlsx
*.txt
*.pyc
*.json
*.pkl
node_modules
