# Local environment
node_modules/
dist/
.angular/
.idea/
.vscode/

# Doxygen outputs
doxygen_output/
doc/.directory

# Local files
src/proxy.conf.json
*.csv
*.ods
*.jpg
*.xlsx
*.txt
*.pyc
*.pkl
modified_date.json
