th:nth-child(3), td:nth-child(3) {
  width: auto;
  white-space: nowrap;
}

:host ::ng-deep .selected {
  background-color: #16a870 !important;
  border-color: #2196f3 !important;
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.3) !important;
}
