---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Google Add-on">
  <section class="panel">
    <h1>Google Add-on</h1>
    <p>
      Placeholder page for the Crystord Google Add-on. Content from the archive will be reviewed and
      selectively adapted here.
    </p>
  </section>
</MainLayout>
