---
import MainLayout from "../layouts/MainLayout.astro";
import SignInForm from "../components/SignInForm.astro";
---

<MainLayout title="Sign In">
  <section class="panel">
    <h1>Sign in to Crystord</h1>
    <SignInForm />
  </section>
</MainLayout>
