<div
  class="graph-canvas"
  [style.height.%]="100"
  (mousedown)="onCanvasMouseDown()"
  (document:mousemove)="onMouseMove($event)"
  (document:mouseup)="onMouseUp()"
>
  <div
    class="graph-node"
    *ngFor="let node of nodes; let i = index"
    [style.left.px]="node.x"
    [style.top.px]="node.y"
    (mousedown)="onNodeMouseDown($event, i)"
  >
    <df-node-arithmetic
      [title]="node.data.title"
      [content]="node.data.content"
      [selected]="i === selectedIndex"
      (titleChange)="node.data.title = $event"
      (contentChange)="node.data.content = $event"
    ></df-node-arithmetic>
  </div>
</div>
