<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Volcycle</strong> <small>Financial Data</small>
      </c-card-header>
      <c-card-body>
        <button cButton
          color="secondary"
          id="button-addon2"
          type="button"
          variant="outline"
          (click)="getPreBelastingTable()">
          Get Table
        </button>
        <table [hover]="true" cTable>
          <thead>
            <tr>
              <th>Datum</th>
              <th>Omzet over kwartaal</th>
              <th>Ontvangen hoog omzetbelasting over kwartall</th>
              <th>Voorbelasting over kwartaal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of preBelastingTable">
              <td>{{ e[0] }}</td>
              <td>{{ e[1] }}</td>
              <td>{{ e[2] }}</td>
              <td>{{ e[3] }}</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>

    <!-- <c-card class="mb-4">
      <c-card-header>
        <strong>Volcycle</strong> <small>Belastingaangifte per kwartaal</small>
      </c-card-header>
      <c-card-body>
        <select aria-label="Default select example" cSelect>
          <option>Choose year</option>
          <option value="1">2023</option>
          <option value="2">2024</option>
          <option value="3">2025</option>
        </select>
        <button cButton
          color="secondary"
          id="button-addon2"
          type="button"
          variant="outline"
          (click)="getBelastingTable()">
          Get Table
        </button>
        <table [hover]="true" cTable>
          <thead>
            <tr>
              <th>Kwartaal</th>
              <th>Begindatum</th>
              <th>Einddatum</th>
              <th>Omzet over kwartaal</th>
              <th>Ontvangen hoog omzetbelasting over kwartall</th>
              <th>Voorbelasting over kwartaal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let belastingElement of belastingTable">
              <td>{{ belastingElement.Kwartaal }}</td>
              <td>{{ belastingElement.Begindatum }}</td>
              <td>{{ belastingElement.Einddatum }}</td>
              <td>{{ belastingElement.Omzet }}</td>
              <td>{{ belastingElement.Ontvangen }}</td>
              <td>{{ belastingElement.Voorbelasting }}</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card> -->
  </c-col>
</c-row>

