<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Volcycle</strong> <small>Belastingaangifte per kwartaal</small>
      </c-card-header>
      <c-card-body>
        <select aria-label="Default select example" cSelect (change)="getBelastingTable()">
          <option value="">Choose year</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
        </select>
        <table [hover]="true" cTable>
          <thead>
            <tr>
              <th>Kwartaal</th>
              <th>Begindatum</th>
              <th>Einddatum</th>
              <th>Omzet over kwartaal</th>
              <th>Ontvangen hoog omzetbelasting over kwartall</th>
              <th>Voorbelasting over kwartaal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of belastingTable">
              <td>{{ e[0] }}</td>
              <td>{{ e[1] }}</td>
              <td>{{ e[2] }}</td>
              <td>{{ e[3] }}</td>
              <td>{{ e[4] }}</td>
              <td>{{ e[5] }}</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>

    <c-card class="mb-4">
      <c-card-header>
        <strong>Volcycle</strong> <small>Financial Data</small>
      </c-card-header>
      <c-card-body>
        <c-input-group class="mb-3">
          <button cButton
                  color="secondary"
                  id="inputGroupFileAddon03"
                  type="button"
                  variant="outline"
                  (click)="uploadFile()">
            Upload
          </button>
          <input aria-describedby="inputGroupFileAddon03"
                 aria-label="Upload"
                 cFormControl
                 id="inputGroupFile03"
                 type="file"
                 (change)="onFileSelected($event)"/>
        </c-input-group>
        <button cButton
          color="secondary"
          id="button-addon2"
          type="button"
          variant="outline"
          (click)="getFindataTable()">
          Get Table
        </button>
        <table [hover]="true" cTable>
          <thead>
            <tr>
              <th>Datum</th>
              <th>Bedrag</th>
              <th>BTW-Tarief</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of findataTable">
              <td>{{ e.datum }}</td>
              <td>{{ e.bedrag }}</td>
              <td>{{ e.btwtarief }}</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

