<c-row ngPreserveWhitespaces>
  <c-col xs="8">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Search</strong> <small>Show table via search</small>
      </c-card-header>
      <c-card-body>
        <c-input-group class="mb-3">
          <input [valid]="isSearchTextValid" aria-label="default input example"
            cFormControl
            placeholder="Search..."
            type="text"
            [(ngModel)]="searchText"
            (keyup.enter)="getTable()"/>
        </c-input-group>
        <table [hover]="false" cTable>
          <thead>
            <tr>
              <th *ngFor="let column of table.headers.columns">
                {{ column }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of table.content">
              <td *ngFor="let column of row">{{ column.value }}</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="4">
    <c-card class="mb-4" *ngIf="isSearchTextValid">
      <c-card-header>
        <strong>Atom View</strong>
      </c-card-header>
      <c-card-body [ngStyle]="{ 'white-space': 'nowrap', 'overflow': 'auto' }">
        <table cTable>
          <thead>
            <tr>
              <th scope="col">Select</th>
              <th scope="col">Index</th>
              <th scope="col">Keys</th>
              <th scope="col">Headers</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of table.keys.columns; let i = index">
              <td>
                <c-form-check>
                  <input cFormCheckInput
                    type="checkbox"
                    [(ngModel)]="selectedColumns[i]"/>
                </c-form-check>
              </td>
              <td>
                <c-form-check>
                  <input cFormCheckInput
                    type="radio"
                    [value]="i"
                    [(ngModel)]="selectedIndexColumn"/>
                </c-form-check>
              </td>
              <td>
                {{ key }}
              </td>
              <td>
                <c-input-group class="mb-3">
                  <input aria-describedby="basic-addon1"
                    aria-label="id"
                    cFormControl
                    placeholder=""
                    [(ngModel)]="table.headers.columns[i]"/>
                </c-input-group>
              </td>
            </tr>
          </tbody>
        </table>
        <c-input-group class="mb-3">
          <span cInputGroupText id="basic-addon1">Title</span>
          <input aria-describedby="basic-addon1"
                 aria-label="id"
                 cFormControl
                 placeholder=""
                 [(ngModel)]="table.title"/>
        </c-input-group>
        <c-input-group class="mb-3">
          <span cInputGroupText id="basic-addon1">Description</span>
          <input aria-describedby="basic-addon1"
                 aria-label="id"
                 cFormControl
                 placeholder=""
                 [(ngModel)]="table.description"/>
        </c-input-group>
        <c-input-group class="mb-3">
          <button cButton
            color="primary"
            id="inputGroupFileAddon03"
            type="button"
            variant="outline"
            (click)="formAtom()">
            Create Atom
          </button>
        </c-input-group>
        <c-input-group class="mb-3">
          <span cInputGroupText id="basic-addon1">{{ atom.properties?.shellies?.uuid }}</span>
        </c-input-group>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
