---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<ul class="check-list">
  {items.map((item) => <li>{item}</li>)}
</ul>

<style>
  .check-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .check-list li {
    padding-left: 1.6rem;
    position: relative;
    margin-bottom: 0.5rem;
    line-height: 1.7;
  }

  .check-list li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: var(--green);
    font-weight: 700;
  }
</style>
